<h1> ARE YOU READY TO RUMBLE?</h1>

<h2>Sign in to play...</h2>
<form action="/names" method="post">
  <label for="player_1">
  PLAYER 1 NAME
  <input type="text" name="player_1">
</label>

<label for="player_2">
  PLAYER 2 NAME
  <input type="text" name="player_2">

</label>
<input type="submit" value="Submit">
</form>
