<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<a href="/attack">Attack</a>

<%# But you could just as well use a form element
(so long as I changed my feature test to use click_button instead of click_link): %>
<%# <!-- alternative play.erb -->

<form action="/attack">
  <input type="submit" value="Attack">
</form> %>
